$disabled-opacity: .5 !default;

// transition
$transition-time: .25s !default;
$transition-type: ease-in-out !default;

// heading
$h1-font-size: 3 !default;
$h2-font-size: 2.5 !default;
$h3-font-size: 2 !default;
$h4-font-size: 1.5 !default;
$h5-font-size: 1 !default;

// starrating
$starrating-color: #ffb100 !default;
$starrating-focus-color: shade($starrating-color, 10%) !default;
$starrating-disabled-opacity: $disabled-opacity !default;

$starrating-xl-font-size: $h1-font-size !default;
$starrating-lg-font-size: $h2-font-size !default;
$starrating-md-font-size: $h3-font-size !default;
$starrating-sm-font-size: $h4-font-size !default;
$starrating-xs-font-size: $h5-font-size !default;
